*,
::before,
::after {
  box-sizing: border-box;
}
:root {
  --body-bg: hsl(0, 0%, 10%);
  --body-clr: hsl(255 100% 100%);
  --nav-clr-active: purple;
}
body {
  background-color: var(--body-bg);
  color: var(--body-clr);
  font-size: 1rem;
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.5rem;
  height: 100vh;
  padding: 0;
  margin: 0;
  display: grid;
  place-items: center;
}

.tabbed {
  --_nav-items: 4;
  --_nav-item-w: calc(100% / var(--_nav-items));

  max-width: 600px;
  width: 100%;
  background-color: #fff;
  border-radius: 10px;
  display: flex;

  justify-content: center;
  flex-direction: column;
  padding: 2rem;
  overflow: hidden;
}
.tabbed__nav {
  position: relative;
  height: 50px;
  width: 80%;
  margin-inline: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #000;
}
.tabbed__nav::after {
  content: "";
  background: #00000020;
  width: 100%;
  height: 1px;
  bottom: 1px;
  position: absolute;
}
.tabbed__nav label {
  position: relative;
  display: block;
  height: 100%;
  width: 100%;
  text-align: center;
  line-height: 50px;
  cursor: pointer;
  transition: all 300ms ease-in;
}
.tab-radio:nth-child(1):checked ~ .tabbed__nav label:nth-child(1),
.tab-radio:nth-child(2):checked ~ .tabbed__nav label:nth-child(2),
.tab-radio:nth-child(3):checked ~ .tabbed__nav label:nth-child(3),
.tab-radio:nth-child(4):checked ~ .tabbed__nav label:nth-child(4) {
  color: var(--nav-clr-active);
}
input[type="radio"] {
  /* hide radio buttons but keep them accessible and allow the user to arrow navigate */
  position: fixed;
  opacity: 0;
  pointer-events: none;
}
.tabbed__slider {
  position: absolute;
  height: 3px;
  background-color: var(--nav-clr-active);
  border-radius: 20px;
  width: var(--_nav-item-w);
  z-index: 1;
  left: 0;
  bottom: 0;
  transition: left 300ms ease-in-out;
}
/* position slider */
.tab-radio:nth-child(1):checked ~ .tabbed__nav .tabbed__slider {
  left: calc(var(--_nav-item-w) * 0);
}
.tab-radio:nth-child(2):checked ~ .tabbed__nav .tabbed__slider {
  left: calc(var(--_nav-item-w) * 1);
}
.tab-radio:nth-child(3):checked ~ .tabbed__nav .tabbed__slider {
  left: calc(var(--_nav-item-w) * 2);
}
.tab-radio:nth-child(4):checked ~ .tabbed__nav .tabbed__slider {
  left: calc(var(--_nav-item-w) * 3);
}

.tabbed__contents {
  filter: blur(0.3px);
  display: grid;
  grid-template-columns: repeat(var(--_nav-items), 1fr);
  width: calc(100% * var(--_nav-items));
  transition: translate 500ms ease-in-out;
}
.tabbed__contents .content {
  color: #111;
  padding: 2rem;
}
.tabbed__contents .content .title {
  font-weight: 600;
}

.tab-radio:nth-child(1):checked ~ .tabbed__contents {
  translate: 0 0;
}
.tab-radio:nth-child(2):checked ~ .tabbed__contents {
  translate: calc(var(--_nav-item-w) * -1) 0;
}
.tab-radio:nth-child(3):checked ~ .tabbed__contents {
  translate: calc(var(--_nav-item-w) * -2) 0;
}
.tab-radio:nth-child(4):checked ~ .tabbed__contents {
  translate: calc(var(--_nav-item-w) * -3) 0;
}
