*,
::before,
::after {
  box-sizing: border-box;
}

:root {
  --body-bg: hsl(0, 0%, 10%);
  --body-clr: hsl(255 100% 100%);
}

body {
  background-color: var(--body-bg);
  color: var(--body-clr);
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1rem;
  line-height: 1.5rem;
  height: 100vh;
  padding: 0;
  margin: 0;
  display: grid;
  place-items: center;
}

.cards {
  width: 600px;
  perspective: 200px;
  position: relative;
  display: grid;
}

.card {
  --speed: 500ms;
  --_scale: 1;
  --_opacity: 1;
  --_offsetY: 0;
  --_delay: 2000ms;
  background: linear-gradient(45deg, purple, pink);
  width: 100%;
  aspect-ratio: 10/4;
  padding: 2rem 4rem;
  border-radius: 20px;
  grid-area: 1/1;
  /* inital position */
  scale: var(--_scale);
  opacity: var(--_opacity);
  translate: 0 var(--_offsetY);
  transition: opacity var(--speed) ease-in, transform var(--speed) ease-in, translate var(--speed) ease-in, scale var(--speed) ease-in;
}

.card:nth-child(1) {
  --_scale: 1;
  --_opacity: 1;
  --_offsetY: 0px;
  --_delayDrop: 2000ms;
  --_delayMove: 0ms;
  z-index: 1;
  /*
  first card only needs to drop down
  second card needs to move forward at same time as previous drop-down then drop down
  third card needs to move forward 50% as first card drops down, then further 50% after previous
  LAST card does not need to drop down
  */
  animation-name: moveForwards-1, dropDown-1;
  animation-delay: var(--_delayMove), var(--_delayDrop);
  animation-duration: 300ms;
  animation-fill-mode: forwards;
  animation-timing-function: ease-in;
}

@keyframes moveForwards-1 {
  to {
    scale: 1;
    translate: 0 0;
    opacity: 1;
  }
}
@keyframes dropDown-1 {
  to {
    scale: 1.2;
    transform: rotate3d(-1, 0, 0, 13deg);
    translate: 0 150px;
    opacity: 0;
  }
}
.card:nth-child(2) {
  --_scale: 0.9;
  --_opacity: 0.7;
  --_offsetY: -50px;
  --_delayDrop: 4000ms;
  --_delayMove: 2000ms;
  z-index: 0;
  /*
  first card only needs to drop down
  second card needs to move forward at same time as previous drop-down then drop down
  third card needs to move forward 50% as first card drops down, then further 50% after previous
  LAST card does not need to drop down
  */
  animation-name: moveForwards-2, dropDown-2;
  animation-delay: var(--_delayMove), var(--_delayDrop);
  animation-duration: 300ms;
  animation-fill-mode: forwards;
  animation-timing-function: ease-in;
}

@keyframes moveForwards-2 {
  to {
    scale: 1;
    translate: 0 0;
    opacity: 1;
  }
}
@keyframes dropDown-2 {
  to {
    scale: 1.2;
    transform: rotate3d(-1, 0, 0, 13deg);
    translate: 0 150px;
    opacity: 0;
  }
}
.card:nth-child(3) {
  --_scale: 0.8;
  --_opacity: 0.4;
  --_offsetY: -100px;
  --_delayDrop: 6000ms;
  --_delayMove: 4000ms;
  z-index: -1;
  /*
  first card only needs to drop down
  second card needs to move forward at same time as previous drop-down then drop down
  third card needs to move forward 50% as first card drops down, then further 50% after previous
  LAST card does not need to drop down
  */
  animation-name: moveForwards-3;
  animation-delay: var(--_delayMove);
  animation-duration: 300ms;
  animation-fill-mode: forwards;
  animation-timing-function: ease-in;
}

@keyframes moveForwards-3 {
  to {
    scale: 1;
    translate: 0 0;
    opacity: 1;
  }
}
@keyframes dropDown-3 {
  to {
    scale: 1.2;
    transform: rotate3d(-1, 0, 0, 13deg);
    translate: 0 150px;
    opacity: 0;
  }
}/*# sourceMappingURL=styles.css.map */