*,
::before,
::after {
  box-sizing: border-box;
}
:root {
  --body-bg: hsl(0, 0%, 10%);
  --body-clr: hsl(255 100% 100%);
}
body {
  background-color: var(--body-bg);
  color: var(--body-clr);
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1rem;
  line-height: 1.5rem;
  height: 100vh;
  padding: 0;
  margin: 0;
  display: grid;
  place-items: center;
}
.cards {
  width: 600px;
  perspective: 200px;
  position: relative;

  display: grid;
}
.card {
  --speed: 500ms;
  --_scale: 1;
  --_opacity: 1;
  --_offsetY: 0;
  --_delay: 2000ms;

  background: linear-gradient(45deg, purple, pink);
  width: 100%;
  aspect-ratio: 10 / 4;
  padding: 2rem 4rem;
  border-radius: 20px;
  grid-area: 1 / 1;

  /* inital position */
  scale: var(--_scale);
  opacity: var(--_opacity);
  translate: 0 var(--_offsetY);

  transition: opacity var(--speed) ease-in, transform var(--speed) ease-in,
    translate var(--speed) ease-in, scale var(--speed) ease-in;
}
$numCards: 3;
$stepScale: 0.1;
$stepOpacity: 0.3;
$stepOffset: 50;
$stepDelay: 3000;
$stepDelayMove: 1000;
@for $i from 1 through $numCards {
  $val: ($i - 1);
  $scale: (1 - $val * $stepScale);
  $opacity: (1 - $val * $stepOpacity);
  $offsetY: (-1 * $val * $stepOffset + px);
  $zindex: (1 - $val);
  $delayDrop: ($i * $stepDelay + ms);

  $delayMove: ($val * $stepDelay + ms);

  .card:nth-child(#{$i}) {
    --_scale: #{$scale};
    --_opacity: #{$opacity};
    --_offsetY: #{$offsetY};
    --_delayDrop: #{$delayDrop};
    --_delayMove: #{$delayMove};

    // move back in stack
    z-index: #{$zindex};

    /*
   first card only needs to drop down
   second card needs to move forward at same time as previous drop-down then drop down
   third card needs to move forward 50% as first card drops down, then further 50% after previous
   LAST card does not need to drop down
   */
    @if ($i==3) {
      // last one - needs to move forward twice....
      animation-name: moveForwardsHalf-#{$i}, moveForwards-#{$i};
      animation-delay: #{$stepDelay}ms, var(--_delayMove);
    } @else {
      animation-name: moveForwards-#{$i}, dropDown-#{$i};
      animation-delay: var(--_delayMove), var(--_delayDrop);
    }

    animation-duration: 300ms;
    animation-fill-mode: forwards;
    animation-timing-function: ease-in;
  }
  @keyframes moveForwardsHalf-#{$i} {
    to {
      scale: 0.9;
      translate: 0 -50px;
      opacity: 0.75;
    }
  }
  @keyframes moveForwards-#{$i} {
    to {
      scale: 1;
      translate: 0 0;
      opacity: 1;
    }
  }
  @keyframes dropDown-#{$i} {
    // 0% {
    //   --_scale: var(--_scale);
    //   --_opacity: var(--_opacity);
    //   --_offsetY: var(--_offsetY);
    // }

    to {
      scale: 1.2;
      transform: rotate3d(-1, 0, 0, 13deg);
      translate: 0 150px;
      opacity: 0;
    }
  }
}

// .card:hover{
//      --_scale: 1.2;
//     transform: rotate3d(-1, 0, 0, 13deg);
//      --_offsetY: 150px;
//      --_opacity: 0;
// }
