* {
  box-sizing: border-box;
}
body {
  display: grid;
  place-items: center;
  height: 100vh;
  background: linear-gradient(45deg, blue, pink);
  font-family: "verdana", san-serif;
  font-size: 1rem;
}
.cards-container {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  align-items: center;
  width: 60vw;
}
.card {
  flex: 1;
  min-width: 220px;
  height: 100px;
  /*border: 1px solid #DDD;*/
  border-radius: 8px;
  overflow: hidden;
  position: relative;
  isolation: isolate;
  background: #fff;
  display: grid;
  place-items: center;
  /*box-shadow: 0 3px 3px 5px #DDD;*/
  transition: height 300ms ease-out;
  cursor: pointer;
}
.card__main,
.card__top,
.card__base {
  position: absolute;
  width: 100%;
  height: 100px;
  transition: transform 300ms ease-out, opacity 1000ms ease-out;
  z-index: -1;
  overflow: hidden;

  opacity: 0;
}
.card__main {
  z-index: 1;
  background: #fff;
  opacity: 1;
  padding: 1em;
  display: grid;
  place-items: center;
}
.card__top img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.card__base {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: left;
  padding: 0 1rem 1rem;
}
.card__base p {
  font-size: 0.9rem;
  margin: 0 0 0.25rem;
}
.card:hover {
  height: 300px;
}
.card:hover .card__top {
  transform: translateY(-100px);
  opacity: 1;
}
.card:hover .card__base {
  transform: translateY(100px);
  opacity: 1;
}
